<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.openingpage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bhagavad_gita_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bhagavad_gita_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpeningPage">
        <activity android:name=".AboutTheGita"></activity>
        <activity android:name=".ShlokaOfTheDay" />
        <activity android:name=".RandomShloka" />
        <activity android:name=".ShlokaTabsSelected" />
        <activity android:name=".grid" />
        <activity android:name=".ShlokaTabsFull" />
        <activity android:name=".ChapterList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".showNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8752170187440412~3733000336"/>
    </application>

</manifest>